@import url('node_modules/@fortawesome/fontawesome-free/css/all.min.css');

.globalheader {
    vertical-align: middle;
    padding: 1vh 1.5vw 1vh 4.4vw;
    font-size: 3vh;
    background: #d65600;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 0.5vh solid;
    border-color: #973d01;
}

.globalheader>*:first-child {
    line-height: 9vh;
    vertical-align: middle;
    grid-column: 1;
    justify-self: start;
}

.globalheader>*:last-child {
    grid-column: 2;
    justify-self: end;
    height: 9vh;
}

.overcards {
    padding: 2.2vh 5vw 0vh 4.3vw;
    justify-self: left;
}

.overcards button{
    padding: 0.5vw 1vh 0.5vw 1vh;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.webbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    height: 45vh;
    width: 15vw;
    margin: 2.5vh 2vw 1vh 2vw;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
}

.card .flipper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card .flipper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.card .flipper .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252728;
    color: #fff;
    padding: 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card:hover .flipper {
    transform: rotateY(180deg);
}

.anime-name {
    font-size: 2.5vh
}

.card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    gap: 1vh;
  }
  
  .update-button {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vh;
  }
  
  .delete-button {
    background-color: #dc3545;
    border: none;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    color: #fff;
    cursor: pointer;
    font-size: 1.5vh;
  }
